label {
    width: 180px;
    display: inline-block;
}

/*** the slider to toggle between concentration & infection risk; between contour and line graphs ***/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 17px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 20px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}
/****  switch end ****/

/*** loading image to be shown if the graph takes a long time to load***/
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/** loading image end**/

/****hover for more details*****/
.details{
  display:none;
  color:grey;
}
.show_details{
  width:10px;
  float:left;
  border-style: solid;
  border-radius: 0.5px;
  background-color: grey;
  color: white;
  text-align: center;
}
.show_details:hover + .details{
  display:block;
  color:grey;
  float:left;
  width:325px;
}
/*** hover end ***/

/****align boxes for parameter input****/
.boxed{
  float: left;
  border-style:solid;
  padding:10px;
}
/****center button inside the boxes****/
.center_button{
  display: flex;
  justify-content: center;
  align-items: center;
}
/** end boxes **/